# log
LOG_DIR = ./log
LOG_FILENAME = app.log
LOG_LEVEL = debug
LOG_MBYTES = 10
LOG_BACKUP_COUNT = 5

# mysql
WRITER_DB_URL =
READER_DB_URL =
DB_TIMEOUT_MS = 10000

# sqlalchemy
SA_POOL_SIZE = 5
SA_POOL_RECYCLE = 3600
SA_POOL_TIMEOUT = 30
SA_MAX_OVERFLOW = 50

# jwt
JWT_SECRET_KEY = jwt-secret
JWT_ALGORITHM = HS256

# s3
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_S3_SENSITIVE_BUCKET_NAME =
AWS_S3_SENSITIVE_FILE_UPLOAD_EXPIRE_SECONDS =
AWS_S3_PUBLIC_BUCKET_NAME =
AWS_S3_REGION_NAME =
